.story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .fields {
        margin: 0 20vw 0 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
}
div{
    .data{
        color:white;
    }
}
button{
    border:black
}
.field {
    width: 50%;
    color: white;
}
#d {
    display: inline-block;
    width: 60%;
}
#d input{
    height: 100px;
    width: 100%;
}
.fields {
    box-shadow: purple;
    border: 2px white;
    display: inline;
    
}
.field {
    border-radius: 25%;
}
.field1{
    display: inline-flex;
}
.field2 {
    display:inline-flex;
}
.button {
    margin: 10px;
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}