.event-card-container {
    width: 60vw;
    margin-bottom: 5vw;
    a:hover {
        border:none;
        outline:none;
        text-decoration:none;
        color:inherit;
        color: blue;
    }
    .comment {
        input {
            width: 55vw;
        }
        button {
            width: 5vw;
        }
    }
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {
    
}