
.costs-container{
    width: 20%;
    margin: 2%;
    padding: 0;
    color: white;
    float: left;
}
.box{
    margin-bottom: 20px;
}
.graph {
    float: left;
    height: 75%;
    width: 50%;
}
a{
    margin-bottom: 10px;
}
.info {
    display: inline-flex;
    width: 10%;
    right: 0;
  }
.body{
    width: 100%;
  }